@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Colors are defined in gothic-bit.hex
 * These are, in order:
 *  0e0e12
 *  1a1a24
 *  333346
 *  535373
 *  8080a4
 *  a6a6bf
 *  c1c1d2
 *  e6e6ec
 *  Lospec pallette: https://lospec.com/palette-list/gothic-bit
 */

@layer components {
    .bg-main {
        background-color: #0E0E12;
    }
    .bg-secondary {
        background-color: #1A1A24;
    }
    .text-main {
        color: #C1C1D2;
    }
    .text-page-header {
        color: #E6E6EC;
    }
  }